# Ignore everything in this directory
*
# Except this file
!.gitignore
!elastic_constants.py
!rus_comsol.py
!rus_fitting_ray.py
!rus_fitting_lmfit.py
!rus_fitting_scipy_leastsq.py
!smi_matrices.py
!rpr_matrices.py
!rus_xyz.py
!format_resonances_for_fit.py
!__init__.py
!quadpylite